In [1]:
import pandas as pd

In [9]:
pain = pd.read_csv('data/pain.csv').drop(columns='Unnamed: 6')

In [8]:
pain

           pain   leg_fatigue   total_fatigue  nsaids  colageno
date
27-3-2021     4             2               2   False     False
28-3-2021     7            10              10   False     False
29-3-2021     6             8               8   False     False
30-3-2021     5             6               6   False     False
31-3-2021     3             3               4   False     False
1-4-2021      2             0               1    True      True
2-4-2021      1             0               0    True      True
3-4-2021      2             0               0    True      True
4-4-2021      3             0               0    True      True
5-4-2021      1             0               0    True      True
6-4-2021      1             0               0    True      True
7-4-2021      2             0               0   False      True